<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/main.css" th:href="@{/css/main.css}">

    <title>Title</title>
</head>
<body>
<h1>Output</h1>
<h2>You choose</h2>

<div th:switch="${rpsGame.item}">
    <div th:case="0">

        <img class="rpsOutput" src="../static/images/rock.jpg" th:src="@{/images/rock.jpg}"/>
    </div>
    <div th:case="1">

        <img class="rpsOutput" src="../static/images/paper.jpg" th:src="@{/images/paper.jpg}"/>
    </div>
  <div th:case="*">

      <img class="rpsOutput" src="../static/images/scissors.jpg" th:src="@{/images/scissors.jpg}"/>
  </div>

</div>

<h2>Computer choose</h2>

<div th:switch="${rpsGame.comp}">
    <div th:case="0">

        <img class="rpsOutput" src="../static/images/rock.jpg" th:src="@{/images/rock.jpg}"/>
    </div>
    <div th:case="1">
        <img class="rpsOutput" src="../static/images/paper.jpg" th:src="@{/images/paper.jpg}"/>
    </div>
    <div th:case="*">
        <img class="rpsOutput" src="../static/images/scissors.jpg" th:src="@{/images/scissors.jpg}"/>
    </div>

</div>

<div>
<h2 th:if="${(rpsGame.item==0 and rpsGame.comp==2)or (rpsGame.item==1 and rpsGame.comp==0)or
(rpsGame.item==2 and rpsGame.comp==1)}" class="win">YOU WIN!!!!</h2>

    <h2 th:if="${(rpsGame.comp==0 and rpsGame.item==2)or (rpsGame.comp==1 and rpsGame.item==0)or
(rpsGame.comp==2 and rpsGame.item==1)}" class="lose">YOU LOSE :(</h2>

    <h2 th:if="${(rpsGame.item==0 and rpsGame.comp==0)or (rpsGame.item==1 and rpsGame.comp==1)or
(rpsGame.item==2 and rpsGame.comp==2)}" class="tie">TIE!!</h2>
</div>

<a href="Input.html" th:href="@{/Input}" >Input</a>
</body>
</html>